Billing/UniplatServiceWCFClient/Service References/UniplatProxy/UniplatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UniplatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://ravelin.bastion.ru/ps/PartnerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://ravelin.bastion.ru/ps/PartnerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ravelin.bastion.ru/ps/PartnerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniplatServiceWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUniplatService_DebitMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:DebitMoney" />
  </wsdl:message>
  <wsdl:message name="IUniplatService_DebitMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:DebitMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IUniplatService_GetDebitState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDebitState" />
  </wsdl:message>
  <wsdl:message name="IUniplatService_GetDebitState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDebitStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IUniplatService">
    <wsdl:operation name="DebitMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniplatService/DebitMoney" message="tns:IUniplatService_DebitMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniplatService/DebitMoneyResponse" message="tns:IUniplatService_DebitMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDebitState">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniplatService/GetDebitState" message="tns:IUniplatService_GetDebitState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniplatService/GetDebitStateResponse" message="tns:IUniplatService_GetDebitState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUniplatService" type="tns:IUniplatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DebitMoney">
      <soap:operation soapAction="http://tempuri.org/IUniplatService/DebitMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDebitState">
      <soap:operation soapAction="http://tempuri.org/IUniplatService/GetDebitState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UniplatService">
    <wsdl:port name="BasicHttpBinding_IUniplatService" binding="tns:BasicHttpBinding_IUniplatService">
      <soap:address location="http://mcs.uniplatservice.ru/ps/PartnerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>