Tools/guiEditRouter/guiEditRouter/Service References/RouterDBService/RouteDBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RouteDBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52980/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52980/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52980/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:52980/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRouteDBService_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetServiceBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceBlock" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetServiceBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceBlockResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetAllBlocks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlocks" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetAllBlocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlocksResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetAllBlockTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlockTypes" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetAllBlockTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlockTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetBlockSettingsParams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockSettingsParams" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetBlockSettingsParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockSettingsParamsResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetBlockInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockInfo" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_GetBlockInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_RemoveBlockFromServiceBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBlockFromServiceBlock" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_RemoveBlockFromServiceBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBlockFromServiceBlockResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_SaveServiceBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveServiceBlock" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_SaveServiceBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveServiceBlockResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_CreateNewBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBlock" />
  </wsdl:message>
  <wsdl:message name="IRouteDBService_CreateNewBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBlockResponse" />
  </wsdl:message>
  <wsdl:portType name="IRouteDBService">
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/GetServices" message="tns:IRouteDBService_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/GetServicesResponse" message="tns:IRouteDBService_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceBlock">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/GetServiceBlock" message="tns:IRouteDBService_GetServiceBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/GetServiceBlockResponse" message="tns:IRouteDBService_GetServiceBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBlocks">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/GetAllBlocks" message="tns:IRouteDBService_GetAllBlocks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/GetAllBlocksResponse" message="tns:IRouteDBService_GetAllBlocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBlockTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/GetAllBlockTypes" message="tns:IRouteDBService_GetAllBlockTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/GetAllBlockTypesResponse" message="tns:IRouteDBService_GetAllBlockTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlockSettingsParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/GetBlockSettingsParams" message="tns:IRouteDBService_GetBlockSettingsParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/GetBlockSettingsParamsResponse" message="tns:IRouteDBService_GetBlockSettingsParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlockInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/GetBlockInfo" message="tns:IRouteDBService_GetBlockInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/GetBlockInfoResponse" message="tns:IRouteDBService_GetBlockInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBlockFromServiceBlock">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/RemoveBlockFromServiceBlock" message="tns:IRouteDBService_RemoveBlockFromServiceBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/RemoveBlockFromServiceBlockResponse" message="tns:IRouteDBService_RemoveBlockFromServiceBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveServiceBlock">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/SaveServiceBlock" message="tns:IRouteDBService_SaveServiceBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/SaveServiceBlockResponse" message="tns:IRouteDBService_SaveServiceBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewBlock">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouteDBService/CreateNewBlock" message="tns:IRouteDBService_CreateNewBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouteDBService/CreateNewBlockResponse" message="tns:IRouteDBService_CreateNewBlock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRouteDBService" type="tns:IRouteDBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceBlock">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/GetServiceBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBlocks">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/GetAllBlocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBlockTypes">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/GetAllBlockTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockSettingsParams">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/GetBlockSettingsParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockInfo">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/GetBlockInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBlockFromServiceBlock">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/RemoveBlockFromServiceBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveServiceBlock">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/SaveServiceBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBlock">
      <soap:operation soapAction="http://tempuri.org/IRouteDBService/CreateNewBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RouteDBService">
    <wsdl:port name="BasicHttpBinding_IRouteDBService" binding="tns:BasicHttpBinding_IRouteDBService">
      <soap:address location="http://localhost:52980/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>