Billing/Uniplat/Uniplat/Service References/UniplatProxy/PartnerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ravelin.bastion.ru/ps/PartnerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniplatServiceWCF" />
  <xs:element name="DebitMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniplatServiceWCF" minOccurs="0" name="request" nillable="true" type="q1:ReqDebit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DebitMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UniplatServiceWCF" minOccurs="0" name="DebitMoneyResult" nillable="true" type="q2:Resp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UniplatServiceWCF" minOccurs="0" name="request" nillable="true" type="q3:ReqState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UniplatServiceWCF" minOccurs="0" name="GetDebitStateResult" nillable="true" type="q4:Resp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>