Billing/UniplatServiceWCF/Service References/ServiceEmulation/MobicomEmulationWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MobicomEmulationWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mobicom/MobicomEmulationWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mobicom/MobicomEmulationWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mobicom/MobicomEmulationWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MobicomEmulationWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobicomEmulation_MobicomStartRequestOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:MobicomStartRequestOperation" />
  </wsdl:message>
  <wsdl:message name="IMobicomEmulation_MobicomStartRequestOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobicomStartRequestOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IMobicomEmulation_MobicomStatusRequestOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:MobicomStatusRequestOperation" />
  </wsdl:message>
  <wsdl:message name="IMobicomEmulation_MobicomStatusRequestOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobicomStatusRequestOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobicomEmulation">
    <wsdl:operation name="MobicomStartRequestOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobicomEmulation/MobicomStartRequestOperation" message="tns:IMobicomEmulation_MobicomStartRequestOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobicomEmulation/MobicomStartRequestOperationResponse" message="tns:IMobicomEmulation_MobicomStartRequestOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobicomStatusRequestOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobicomEmulation/MobicomStatusRequestOperation" message="tns:IMobicomEmulation_MobicomStatusRequestOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobicomEmulation/MobicomStatusRequestOperationResponse" message="tns:IMobicomEmulation_MobicomStatusRequestOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMobicomEmulation" type="tns:IMobicomEmulation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobicomStartRequestOperation">
      <soap:operation soapAction="http://tempuri.org/IMobicomEmulation/MobicomStartRequestOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobicomStatusRequestOperation">
      <soap:operation soapAction="http://tempuri.org/IMobicomEmulation/MobicomStatusRequestOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobicomEmulationWCF">
    <wsdl:port name="BasicHttpBinding_IMobicomEmulation" binding="tns:BasicHttpBinding_IMobicomEmulation">
      <soap:address location="http://mobicom/MobicomEmulationWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>